html
{
    font-family: Montserrat, sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.404), rgba(231, 220, 220, 0.329)), 
    url(/fotos/fondo.jpg);
    background-position:center;
    
}
body {
    padding: 0;
    margin: 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color: white;
  
}
.networking{
    margin-left: 35px;
}
.networking:hover {
    color: aquamarine;
    cursor: pointer;
}
.nosotros{
    margin-left: 650px;
}
.nosotros:hover {
    color: aquamarine;
    cursor: pointer;
}

#favDialog
{
    display: none;
}

.productos:hover {
  color: aquamarine;
  cursor: pointer;
}
.micuenta {
    margin-right: 15px;
}
.micuenta:hover {
color: aquamarine;
    cursor: pointer;
}

.casas
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-left: 50px;
    margin-top: 200px;
}

.casa1
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 45px;

}
.casa1 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa1 img:hover
{
    cursor: zoom-in;
    width: 500px;

}

.casa2
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 45px;

}
.casa2 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa2 img:hover
{
    cursor: zoom-in;
    width: 500px;

}

.casa3
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 45px;

}
.casa3 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa3 img:hover
{
    cursor: zoom-in;
    width: 500px;

}

.casa4
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 45px;

}
.casa4 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa4 img:hover
{
    cursor: zoom-in;
    width: 500px;

}
/*
.titulom1
{
    position: absolute;
    bottom: -470px;
   
}
*/
.mansion1
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 45px;

}
.mansion1 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.mansion1 img:hover
{
    cursor: zoom-in;
    width: 500px;

}


.mansion2
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 45px;

}
.mansion2 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.mansion2 img:hover
{
    cursor: zoom-in;
    width: 500px;

}
