:root
{
    --violet: rgb(66, 19, 107);
    --borde: rgb(35, 4, 41);
    --verde: rgb(66, 179, 66);
    --verde_oscuro: rgb(2, 59, 2);
    --azul_acero: rgb(20,130,180); 
    --gris: rgba(49, 39, 39, 0.26);
    --gradiente: (rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.404), rgba(231, 220, 220, 0.329));
    --modoOscuro: #0f0f0f;
}

html
{
    font-family: Montserrat, sans-serif;
    background-image: linear-gradient(rgba(20,130,180), rgba(100,210,180), rgb(100, 210, 190), pink); 
    background-repeat: no-repeat;
    
}
body {
    padding: 0;
    margin: 0;
     
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color: white;
    color: black;
    width: 1fr;
}
.networking{
    margin-left: 35px;
}


.nos {
    text-decoration: none;
    color: black;
    margin-left: 650px;
}


#link1,
#link2,
#link3, 
#link4
{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.contenido.dark {
    color: white;
    background-color: var(--modoOscuro);
}

.ocultar {
    visibility: visible;
    background-color: white;
    color: black;
    
}
 
.listas {
    display: flex;
    justify-content: flex-end;
    gap: 23px;
    height: 40px;
  
}

.lista-aspecto{
    display: grid;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    width: 150px;
    height: 110px;
    background-color: white;
    color: black;
    visibility: hidden;
}

.ho, .hi, .lista-aspecto1, .lista-aspecto2, .perfil, .conf{
    padding: 3px;
}

.lista-productos {
    display: grid;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    width: 150px;
    height: 110px;
    color: black;
    background-color: white;
    visibility: hidden;
    
}


.lista-cuenta{
    display: grid;
    text-align: center;
    margin-right: 0;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    width: 150px;
    height: 110px;
    background-color: white;
    color: black;
    visibility: hidden;

}



.productos:hover, .micuenta:hover, .nos:hover, .networking:hover {
    color: var(--azul_acero);
    cursor: pointer;
}

.hi:hover,
.ho:hover,
.perfil:hover,
.conf:hover,
.lista-aspecto1:hover,
.lista-aspecto2:hover
{
    background-color: grey;
    cursor: pointer; 
}


.micuenta {
    margin-right: 15px;
}

/* Hasta aca interaccion de nav */

#perfil{
    height: fit-content;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-decoration: underline;
}


.datos{
    
    list-style: none;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    margin-left: 40px;
    text-decoration: underline;
}
#g, #b, #c, #d{
    transition: transform 0.5s;
    animation-duration: 2s;
    font-size: 22px;
    margin: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: fit-content;

}
#g:hover, #b:hover, #c:hover, #d:hover{
  cursor: pointer;
  color: white;
  
  text-decoration: underline;  
  transform: translateX(15px);
  /* transform: scale(1.5);  */
  
}

#g1, #g2, #g3, #g4, #g5, #g6, #b1, #b2, #c1, #c2, #c3, #d1, #d2 {
    display: none;
    width: fit-content;
    
}
#g6:hover, #b2:hover, #c3:hover, #d2:hover{
    cursor: pointer;
    background-color: var(--gris);
}

.lista1, .lista2, .lista3, .lista4{
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    margin-left: 400px;
    
}
#g1, #g2, #g3, #g4, #g5, #g6, #b1, #b2, #c1, #c2, #c3{
    margin-top: 10px;
    width: 500px;
    height: 43px;
    border-radius: 10px;
    border-style: hidden;
    
}

#d1, #d2 {
    margin-top: 10px;
    width: 500px;
    height: 43px;
    border-radius: 10px;
    border-style: hidden;
    
}

#d{
    margin-bottom: 200px;
}


/* Responsive */

@media screen and (max-width: 1200px){
    
    .nos {
        
        margin-left: 310px; 

    }
   
    .listas{
        gap: 45px;
        margin-bottom: 100px;
     
    }
}

@media screen and (max-width: 900px){
    
    .nos {
        
        margin-left: 100px; 

    }
   
    .listas{
        gap: 20px;
        margin-bottom: 100px;
       
    }
    .datos {
        margin-left: 10px;
    }
    .lista1, .lista2, .lista3, .lista4{
        margin-left: 250px;
        
    }
}

@media screen and (max-width: 460px){
    .networking{
        display: none;

    }
    .nav{
        
        font-size: 10px;
        align-items: center;
        justify-content: space-around;
       
    }
    .nos{
        margin-left: 0px;
    }
    .listas{
        gap: 20px;
    
        margin-bottom: 100px;
       
    }
    .lista-aspecto, .lista-cuenta, .lista-productos{
        height: 80px;
        font-size: 10px;
       
    }
    .lista-aspecto img, .lista-cuenta img, .lista-productos img {
        display: none;
    }
    .datos {
        margin-left: 0px;
    }
    .lista1, .lista2, .lista3, .lista4{
        margin-left: 250px;
       
    }
    #g1, #g2, #g3, #g4, #g5, #g6, #b1, #b2, #c1, #c2, #c3, #d1, #d2 {
        width: 150px;
    }
}