html
{
    font-family: Montserrat, sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.404), rgba(231, 220, 220, 0.329)), 
    url(/fotos/fondo.jpg);
    background-position:center;
}
body {
    padding: 0;
    margin: 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color: white;
  
}
.networking{
    margin-left: 35px;
}
.networking:hover {
    color: aquamarine;
    cursor: pointer;
}
.nosotros{
    margin-left: 650px;
}
.nosotros:hover {
    color: aquamarine;
    cursor: pointer;
}
.productos:hover {
  color: aquamarine;
  cursor: pointer;
}
.micuenta {
    margin-right: 15px;
}
.micuenta:hover {
color: aquamarine;
    cursor: pointer;
}