:root
{
    --violet: rgb(66, 19, 107);
    --borde: rgb(35, 4, 41);
    --verde: rgb(66, 179, 66);
    --verde_oscuro: rgb(2, 59, 2);
    --azul_acero: rgb(20,130,180); 
    --gris: rgba(49, 39, 39, 0.26);
    --gradiente: rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.404), rgba(231, 220, 220, 0.329);
    --modoOscuro: #0f0f0f;
}

 
html
{
    font-family: Montserrat, sans-serif;
    background: linear-gradient(rgba(20,130,180), rgba(100,210,180), rgb(100, 210, 190), pink); 

}
body {
    padding: 0;
    margin: 0;
}
.contenido.dark {
    background-color: var(--modoOscuro);
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color: white;
    color: black;
    width: 100%;
   
}

.networking{
    margin-left: 35px;
}


.nos {
    text-decoration: none;
    color: black;
    margin-left: 650px;
}

.ocultar {
    visibility: visible;
    background-color: white;
    color: black;
    
}

.ho, .hi, .lista-aspecto1, .lista-aspecto2, .perfil, .conf{
    padding: 3px;
}

.hi:hover,
.ho:hover,
.perfil:hover,
.conf:hover,
.lista-aspecto1:hover,
.lista-aspecto2:hover
{
    background-color: grey;
    cursor: pointer; 
    
}


#link1,
#link2,
#link3, 
#link4
{
    text-decoration: none;
    color: black;
    padding: 5px;
    
}

.listas {
    display: flex;
    justify-content: flex-end;
    gap: 23px;
    height: 40px;
}

.lista-aspecto{
    display: grid;
    text-align: center; 
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    width: 150px;
    height: 110px;
    background-color: white;
    color: black;
    visibility: hidden;
    
}

.lista-productos {
    display: grid;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    width: 150px;
    height: 110px;
    background-color: white;
    color: black;
    visibility: hidden;
}

.lista-cuenta{
    display: grid;
    text-align: center;
    margin-right: 0;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    width: 150px;
    height: 110px;
    background-color: white;
    color: black;
    visibility: hidden;
}

.productos:hover, .micuenta:hover, .nos:hover, .networking:hover {
    color: var(--azul_acero);
    cursor: pointer;
}

.micuenta {
    margin-right: 15px;
}

/* Hasta aca la navegacion */



.title{
    height: fit-content;
    margin-top: 0;
    margin-bottom: 60px;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-decoration: underline;
    
}


.titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
} 

.boton
{
    
    width: 200px;
    height: 45px;
    border-radius: 40px;
    background-color: var(--verde);
    border-style:none;
    color: white;
    font-weight: 900;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    transition: transform 0.5s;
    animation-duration: 2s;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
}
  
.boton:hover
{
    transform: scale(1.25);
    cursor: pointer;
}


.descripcion1{
    height: 200px;
    width: 600px;
    text-align: justify;
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 10px;

}  

.descripcion2{
    height: 200px;
    width: 600px;
    text-align: justify;
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 10px;
}

.casas
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px 40px;
    margin-left: 50px;
    margin-top: 0;
}

.casa1
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 10px;

}

.casa1 img, .mapa {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa1 img:hover, .mapa:hover
{
    cursor: zoom-in;
    width: 500px;

}

.casa2
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 10px;

}
.casa2 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa2 img:hover
{
    cursor: zoom-in;
    width: 500px;

}

.casa3
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 10px;

}
.casa3 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa3 img:hover
{
    cursor: zoom-in;
    width: 500px;

}

.casa4
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 10px;

}
.casa4 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa4 img:hover
{
    cursor: zoom-in;
    width: 500px;

}

.grilla2{
    margin-bottom: 200px;
}

.botones{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
    height: 25px;
    width: 450px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    


}

.botones button
{
    height: 30px;
    width: 35px;
    background-color: var(--verde);
    border-style:none; 
    color: black;
    font-weight: 900;
    clip-path: circle(45% at 50% 50%);  
    
}
.botones button:hover{
    
    cursor: pointer;
}
.botones input{
    height: 30px;
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    border-style:none;
    font-weight: 900;
  
}
.botones input:hover{
    cursor:pointer;
    width: fit-content;

}

/* Responsive */

@media screen and (max-width: 1200px){
    .nav{
        width: 1fr;

    }
    .nos {
        
        margin-left: 410px; 

    }
   
    .listas{
        gap: 55px;
        margin-bottom: 80px;
     
    }
    .casas{
      gap: 50px 20px;
      margin-left: 40px;
      margin-top: 0px;
    }
    .casa1, .casa2, .casa3, .casa4{
        width: 450px;
    }
    
    .descripcion1, .descripcion2{
        
        width: 450px;
        margin-bottom: 100px;
    
    }
    .grilla1{
        margin-top: 10px;
    }
   
    .botones{   
        height: 25px;
        width: 350px;
        gap: 10px;
        margin-left: 10px;
        
    }
    #title1, #title3{
        margin-right: 80px;
        height: 100px;
    }
    #title2, #title4{
        margin-right: 80px;
        height: 100px;

    }
}

@media screen and (max-width: 900px){
    .nav{
        width: 1fr;

    }
    .nos {
        
        margin-left: 100px; 

    }
   
    .listas{
        gap: 20px;
        margin-bottom: 100px;
        
    }
    .casas
    {
        grid-template-columns: auto;
        gap: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
       
    }
    
    .casa1, .casa2, .casa3, .casa4{
        margin-left: auto;
        margin-right: auto;
    }
    .descripcion1, .descripcion2 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
        margin-top: 0;
    }
    .botones{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 0;
    }
    .boton{
        margin-left: 40%;
        margin-right: 40%;
        width: 150px;
        margin-bottom: 40px;
      
    }
   
    .casa1 img:hover, .casa2 img:hover, .casa3 img:hover, .casa4 img:hover, .mapa:hover
    {
        cursor: zoom-in;
        width: 350px;
    
    }
    .grilla2{
        margin-bottom: 0;
    }
    
    #title1, #title2, #title3, #title4{
        margin-right: auto;
        margin-left: auto;
        width: 400px;
    }
    
}
@media screen and (max-width: 768px){
    .nav{
        width: 1fr;

    }
    .nos {
        
        margin-left: 80px; 

    }
   
    .listas{
        gap: 15px;
        margin-bottom: 100px;
        
    }
    .casas
    {
        grid-template-columns: auto;
        gap: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
       
    }
    
    .casa1, .casa2, .casa3, .casa4{
        margin-left: auto;
        margin-right: auto;
    }
    .descripcion1, .descripcion2  {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        margin-top: 0;
    }
    
    .botones{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 0;
    }
    .boton{
        margin-left: 40%;
        margin-right: 40%;
        width: 150px;
        margin-bottom: 40px;
      
    }
   
    .casa1 img:hover, .casa2 img:hover, .casa3 img:hover, .casa4 img:hover, .mapa:hover
    {
        cursor: zoom-in;
        width: 350px;
    
    }
    .grilla2{
        margin-bottom: 0;
    }
    
    #title1, #title2, #title3, #title4{
        margin-right: auto;
        margin-left: auto;
        width: 400px;
    }
}

@media screen and (max-width: 560px){
    
    .networking{
        display: none;

    }
    .nav{
      
        font-size: 10px;
        align-items: center;
        justify-content: space-around;
       
    }
    .nos{
        margin-left: 0px;
    }
   
    .listas {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        height: 30px;
        
    }
    .productos{
        margin-left: 10px;
      
    }
    .lista-aspecto, .lista-cuenta, .lista-productos{
        height: 80px;
        font-size: 10px;
        
       
    }
    .lista-aspecto img, .lista-cuenta img, .lista-productos img {
        display: none;
    }
    .casas
    {
        grid-template-columns: auto;
        gap: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        
    }
    
    .casa1, .casa2, .casa3, .casa4{
        margin-left: auto;
        margin-right: auto;
        width: 350px;
    }
    .descripcion1{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 200px;
        margin-top: 0;
        width: 350px;
    }
    .descripcion2 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
        margin-top: 0;
        width: 350px;
    }
    .botones{
        margin-left: 10%;
        margin-right: 10%;

        width: 150px;
        gap: 10px;
        margin-bottom: 10px;
         
    }
    .boton{
        margin-left: 40%;
        margin-right: 40%;
        width: 100px;
        margin-bottom: 40px;
        margin-top: 60px;
    }
    .casa1 img:hover, .casa2 img:hover, .casa3 img:hover, .casa4 img:hover, .mapa:hover
    {
        cursor: zoom-in;
        width: 300px;
    
    }
    .grilla2{
        margin-bottom: 0;
    }
}