:root
{
    --violet: rgb(66, 19, 107);
    --borde: rgb(35, 4, 41);
    --verde: rgb(66, 179, 66);
    --verde_oscuro: rgb(2, 59, 2);
    --gradiente: (rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.404), rgba(231, 220, 220, 0.329));
}


html
{
    font-family: Montserrat, sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.404), rgba(231, 220, 220, 0.329)), 
    url(/fotos/fondo.jpg);
    background-position:center;
    
}
body {
    padding: 0;
    margin: 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color: white;
  
}
.networking{
    margin-left: 35px;
}
.networking:hover {
    color: var(--verde);
    cursor: pointer;
}

.nos {
    text-decoration: none;
    color: black;
    margin-left: 650px;
}
.nos:hover {
    color: var(--verde);
    cursor: pointer;
}

.hi, 
.ho,
.cierre,
.lista-productos,
.lista-cuenta,
.cierre2
{
    visibility: hidden;
    
}

.hi:hover,
.ho:hover,
.cierre:hover,
.perfil:hover,
.conf:hover,
.cierre2:hover
{
    background-color: var(--verde);
    cursor: pointer; 
    
}

#link1,
#link2,
#link3, 
#link4
{
    text-decoration: none;
    color: black;
    
    
}

.listas {
    display: flex;
    justify-content: end;
    gap: 25px;
}

.lista-productos {
    display: grid;
    text-align: center;
    
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 150px;
    height: 130px;
    background-color: white;
    
   
}
.lista-productos div,
.lista-cuenta div
{
    padding: 5px;
}
.lista-cuenta{
    display: grid;
    text-align: center;
    margin-right: 0;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 150px;
    height: 130px;
    background-color: white;
}



.productos:hover {
    color: var(--verde);
    cursor: pointer;
  }

.micuenta {
    margin-right: 15px;
}
.micuenta:hover {
    color: var(--verde);
    cursor: pointer;
}





.casas
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-left: 50px;
    margin-top: 200px;
}

.casa1
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 45px;

}
.casa1 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa1 img:hover
{
    cursor: zoom-in;
    width: 500px;

}

.casa2
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 45px;

}
.casa2 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa2 img:hover
{
    cursor: zoom-in;
    width: 500px;

}

.casa3
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 45px;

}
.casa3 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa3 img:hover
{
    cursor: zoom-in;
    width: 500px;

}

.casa4
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 45px;

}
.casa4 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa4 img:hover
{
    cursor: zoom-in;
    width: 500px;

}
/*
.titulom1
{
    position: absolute;
    bottom: -470px;
   
}
*/

