:root
{
    --violet: rgb(66, 19, 107);
    --borde: rgb(35, 4, 41);
    --verde: rgb(66, 179, 66);
    --verde_oscuro: rgb(2, 59, 2);
    --azul_acero: rgb(20,130,180); 
    --gris: rgba(49, 39, 39, 0.26);
    --gradiente: (rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.404), rgba(231, 220, 220, 0.329));
}


html
{
    font-family: Montserrat, sans-serif;
    background-color: var(--azul_acero);
    
}
body {
    padding: 0;
    margin: 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color: white;
  
}
.networking{
    margin-left: 35px;
}
.networking:hover {
    color: var(--azul_acero);
    cursor: pointer;
}

.nos {
    text-decoration: none;
    color: black;
    margin-left: 650px;
}
.nos:hover {
    color: var(--azul_acero);
    cursor: pointer;
}

.hi, 
.ho,
.cierre,
.lista-productos,
.lista-cuenta,
.cierre2
{
    visibility: hidden;
    
}

.hi:hover,
.ho:hover,
.cierre:hover,
.perfil:hover,
.conf:hover,
.cierre2:hover
{
    background-color: var(--gris);
    cursor: pointer; 
    
}

#link1,
#link2,
#link3, 
#link4
{
    text-decoration: none;
    color: black;
    
    
}

.listas {
    display: flex;
    justify-content: end;
    gap: 25px;
}

.lista-productos {
    display: grid;
    text-align: center;
    
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 150px;
    height: 130px;
    background-color: white;
    
   
}
.lista-productos div,
.lista-cuenta div
{
    padding: 5px;
}
.lista-cuenta{
    display: grid;
    text-align: center;
    margin-right: 0;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 150px;
    height: 130px;
    background-color: white;
}



.productos:hover {
    color: var(--azul_acero);
    cursor: pointer;
  }

.micuenta {
    margin-right: 15px;
}
.micuenta:hover {
    color: var(--azul_acero);
    cursor: pointer;
}

/* Hasta aca la navegacion */



.title{
    height: fit-content;
    margin-top: 0;
    margin-bottom: 60px;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-decoration: underline;
    
}


.titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
} 

.boton
{
    
    width: 200px;
    height: 45px;
    border-radius: 40px;
    background-color: var(--verde);
    border-style:none;
    color: white;
    font-weight: 900;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    transition: transform 0.5s;
    animation-duration: 2s;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
}
  
.boton:hover
{
    transform: scale(1.25);
    cursor: pointer;
}

.descripcion1{
    height: 200px;
    width: 600px;
    text-align: justify;
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 10px;

}  

.descripcion2{
    height: 200px;
    width: 600px;
    text-align: justify;
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 10px;
}

.casas
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px 40px;
    margin-left: 50px;
    margin-top: 0;
}

.casa1
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 10px;

}

.casa1 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa1 img:hover
{
    cursor: zoom-in;
    width: 500px;

}

.casa2
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 10px;

}
.casa2 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa2 img:hover
{
    cursor: zoom-in;
    width: 500px;

}

.casa3
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 10px;

}
.casa3 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa3 img:hover
{
    cursor: zoom-in;
    width: 500px;

}

.casa4
{
    display: flex;
    width: 600px;
    height: 350px;
    margin-bottom: 10px;

}
.casa4 img {
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    transition: 1.5s ease-out;
    transition-delay: 0.3s;
    border: 1px solid black;
    border-radius: 7px;
}


.casa4 img:hover
{
    cursor: zoom-in;
    width: 500px;

}

.grilla2{
    margin-bottom: 200px;
}

.botones{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
    height: 25px;
    width: 450px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    
}

.botones button
{
    height: 30px;
    width: 35px;
    text-align: center;
    justify-items: center;
    border-radius: 40px;
    background-color: var(--verde);
    border-style:none;
    color: black;
    font-weight: 900;
    align-items: center;
    
}
.botones button:hover{
    
    cursor: pointer;
}
.botones input{
    height: 30px;
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    border-style:none;
    font-weight: 900;
  
}
.botones input:hover{
    cursor:pointer;
    width: fit-content;

}
